#lista {
    margin: 0 auto;
    height: 48px;
    width: 1210px;
    padding: 0;
    border: 0;
    background: black;
}

button {
    height: 48px;
    width: 238px;
    background-image: linear-gradient(Purple 20%, #0c38d8 80%);
    border:none;
}
button:hover {
    height: 48px;
    width: 238px;
    background-image: linear-gradient(white, green);
    border:none;
}

#adrian {
    margin: 20 30%;
    height: 40%;  
}

