#lista {
    margin: 0 auto;
    height: 48px;
    width: 1210px;
    padding: 0;
    border: 0;
    background: black;
}

button {
    height: 48px;
    width: 238px;
    background-image: radial-gradient(#16498c, #ffffff)
}

#adrian {
    margin: 20 30%;
    height: 40%;
}


