
div#finlandia{ 
    background-color: transparent;
	text-align:center;
}
div#finlandia:hover{ 
    background-color: blue;
    text-decoration-color:  white;
}

div#finlandia:hover a{
    color:white;
    
}

div#jamaica{ 
    background-color: transparent;
    text-align:center;
}
div#jamaica:hover{ 
    background-color: green;
    text-decoration-color:  white;
 
}

div#jamaica:hover a{
    color:white;
}
div#gabon{ 
    background-color: transparent;
	text-align:center;
    
}

div#gabon:hover{ 
    background-color: yellow;
    text-decoration-color:  white;
    
}

div#gabon:hover a{
    color:black;
}

div#haiti{ 
    background-color: transparent;
	text-align:center;
    
}

div#haiti:hover{ 
    background-color: red;
    text-decoration-color:  white;
    
}

div#haiti:hover a{
    color:white;
}
div#nepal{ 
    background-color: transparent;
	text-align:center;
    
}

div#nepal:hover{ 
    background-color: purple;
    text-decoration-color:  white;
    
}

div#nepal:hover a{
    color:white;
}
div#congo{ 
    background-color: transparent;
	text-align:center;
    
}

div#congo:hover{ 
    background-color: orange;
    text-decoration-color:  white;
    
}


div#congo:hover a{
    color:white;
}
a{
    text-decoration:none;   
} 


fieldset {
   margin: 0 40% 0 40%;
}